<div class="post_info">
  <!-- author -->
  {% if page.author %}
  <span>
    <i class="fa fa-user-secret"></i>
    {{ page.author }}
  </span>
  {% endif %}

  <!-- date -->
  {% if page.date %}
  <span>
    <i class="fa fa-calendar"></i>
    {{ page.date | date: "%b %d, %Y" }}
  </span>
  {% endif %}
  <br/>

  <!-- tags -->
  <span>
    <i class="fa fa-tag"></i>
    {% for tag in page.tags %}
    {% capture tag_name %}{{tag}}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{tag_name}}</nobr></code></a>
    {% endfor %}
  </span>

  <!-- category -->
  <!-- {% if page.category %}
  <span>
    <i class="fa fa-archive"></i>
    {{ page.category }}
  </span>
  {% endif %} -->
</div>
<!-- abstract -->
<div class="abstract">
  {% if page.abstract %}
  <p>{{ page.abstract }}</p>
  {% endif %}
</div>
