<!-- {% assign assets_base_url = site.url %}
{% if site.cdn.jsdelivr.enabled %}
    {% assign assets_base_url = "https://cdn.jsdelivr.net/gh/" | append: site.repository | append: '@master' %}
{% endif %} -->

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="page">
    {% include background.html %}
    <div class="container" id="ctner">
      {% include header.html %}
      <div class="div_article" id="div_atcl">
          <article>
              {{content}}


          </article>
          <!-- <table cellspacing="0" border="0" width="67%">
              <tr >
                  <td></td>
                  <td><a href="{{ assets_base_url }}{{ site.baseurl }}/gaming.html">GAMING</a></td>
                  <td><a href="{{ assets_base_url }}{{ site.baseurl }}/gaming.html">GAMING</a></td>
                  <td><a href="{{ assets_base_url }}{{ site.baseurl }}/gaming.html">GAMING</a></td>
              </tr>

          </table> -->
        <!-- <article id="main_atcl" itemscope itemtype="http://schema.org/BlogPosting">

        </article> -->
          {% if page.footer == true %}
          {% include footer.html %}
          {% endif %}
      </div>
    </div>

  </body>
</html>
