---
layout: default
---

<center>
<h2> Discography </h2>


<div class="resp-table">
    <div class="table-body-cell">
        <a href="https://big-up.style/RZcBXWlwWG" target="_blank"><img style="display:block; width:auto; height:200px;" src="https://img.big-up.style/users/99/311799/package/708241/image.jpg"></a><br/>
        NEO FURNITURISM (2025)
    </div>
    <div class="table-body-cell">
        <a href="https://big-up.style/Rtge7TLkc0" target="_blank"><img style="display:block; width:auto; height:200px;" src="https://img.big-up.style/users/99/311799/package/686021/image.jpg"></a><br/>
        クラブ・ベラドンナ (2025)
    </div>
    <div class="table-body-cell">
        <a href="https://big-up.style/eVwRMr2Puj" target="_blank"><img style="display:block; width:auto; height:200px;" src="https://img.big-up.style/users/99/311799/package/659374/image.jpg"></a><br/>
        ヌマ (Advanced Computer) (2025)
    </div>
    <div class="table-body-cell">
        <a href="https://big-up.style/GfC1n8YLuM" target="_blank"><img style="display:block; width:auto; height:200px;" src="https://img.big-up.style/users/99/311799/package/655260/image.jpg"></a><br/>
        Frankenstein (2024)
    </div>
    <div class="table-body-cell">
        <a href="https://ampl.ink/QYlvZ" target="_blank"><img style="display:block; width:auto; height:200px;" src="../music/origin/Daybreak.png"></a><br/>
        Daybreak (2024)
    </div>
    <div class="table-body-cell">
        <a href="https://big-up.style/DE6kpbkJYy" target="_blank"><img style="display:block; width:auto; height:200px;" src="../music/origin/Virus.png"></a><br/>
        BAD SILENCE / Virus (2024)
    </div>
    <div class="table-body-cell">
        <a href="https://big-up.style/g3FclG9Db4" target="_blank"><img style="display:block; width:auto; height:200px;" src="../music/origin/Loops 2.0.png"></a><br/>
        Loops 2.0 (2024)
    </div>
    <div class="table-body-cell">
        <a href="https://big-up.style/a2LhW68LOC" target="_blank"><img style="display:block; width:auto; height:200px;" src="../music/origin/Press Start.png"></a><br/>
        Press Start (2024)
    </div>
    <div class="table-body-cell">
        <a href="https://big-up.style/QU6A4Z4Xo2" target="_blank"><img style="display:block; width:auto; height:200px;" src="../music/origin/Scanner.png"></a><br/>
        Scanner (2023)
    </div>
    <div class="table-body-cell">
        <a href="https://big-up.style/9txWltMoRq" target="_blank"><img style="display:block; width:auto; height:200px;" src="../music/origin/Electric Sheep.png"></a><br/>
        電気羊を###方法 (2023)
    </div>
    <div class="table-body-cell">
        <a href="https://big-up.style/tEVIb71uUa" target="_blank"><img style="display:block; width:auto; height:200px;" src="../music/origin/Loops.png"></a><br/>
        Loops (2023)
    </div>
    <div class="table-body-cell">
        <a href="https://big-up.style/QBC1ZiTyBN" target="_blank"><img style="display:block; width:auto; height:200px;" src="https://img.big-up.style/users/99/311799/package/653822/image.jpg"></a><br/>
        Stargazer (2022)
    </div>
    <div class="table-body-cell">
        <a href="https://ampl.ink/5YEjb" target="_blank"><img style="display:block; width:auto; height:200px;" src="https://v2.amp-cdn.net/images/4734144061370d582aa56ac123d85831605c1e4f21f164"></a><br/>
        夢​の​ド​リ​ー​ム​・​ラ​イ​ナ​ー (2022)
    </div>
    <div class="table-body-cell">
        <a href="https://ampl.ink/NGp5M" target="_blank"><img style="display:block; width:auto; height:200px;" src="../music/remix/Rise of the Cheetahmen/cover.png"></a><br/>
        Title Screen (Cheetahmen Theme RMX) (2020)
    </div>
    <div class="table-body-cell">
        <a href="https://ampl.ink/KxLwm" target="_blank"><img style="display:block; width:auto; height:200px;" src="../music/remix/R_WAVE/cover.png"></a><br/>
        R_WAVE (2020)
    </div>
</div>
</center>
