---
layout: default
---


  <article id="main_atcl" itemscope itemtype="http://schema.org/BlogPosting">
    {{content}}
    <!-- <h1 class="loa">GAMING</h1> -->
    <div class="tab-content">
        <center>
        <a href="https://psnprofiles.com/Astray404" target="_blank">
          <img src="https://card.psnprofiles.com/2/Astray404.png" />
        </a>
        <br/>
        <br/>
        <a href="https://backloggery.com/Astray404" target="_blank">
            <img src="https://backloggery.com/Astray404/sig.gif" />
        </a>
        <br/>
        <br/>
        <img src="../assets/img/tffac_profile.jpg" width="500px">
    </div>
  </article>
