---
layout: default
---


  <article id="main_atcl" itemscope itemtype="http://schema.org/BlogPosting">
    {{content}}
    <!-- <h1 class="loa">GAMING</h1> -->
    <div class="tab-content">
        <center>
        <a href="https://psnprofiles.com/Astray404" target="_blank">
          <img src="https://card.psnprofiles.com/2/Astray404.png" />
        </a>
        <br/>
        <br/>
        <a href="https://backloggery.com/Astray404" target="_blank">
            <img src="https://backloggery.com/Astray404/sig.gif" />
        </a>
        <br/>
        <br/>
        <img src="../assets/img/tffac_profile.jpg" width="50%">
        <!-- <div role="tabpanel" class="tab-pane active" id="game">
            <table>
                <thead>
                    <tr>
                        <th> TITLE </th>
                        <th> DATE </th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in site.categories.Game %}
                    <tr>
                        <td class="td_title"><a href="{{assets_base_url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a></td>
                        <td class="td_date" width="20%">{{post.date | date: "%b %d, %y"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> -->
    </div>
  </article>
