---
layout: default
---


  <article id="main_atcl" itemscope itemtype="http://schema.org/BlogPosting">
    {{content}}
    <!-- <h1 class="loa">GAMING</h1> -->
    <div class="tab-content">
        <center>
        <a href="https://psnprofiles.com/Astray404" target="_blank">
          <img src="https://card.psnprofiles.com/2/Astray404.png" />
        </a>
        <br/>
        <br/>
        <img src="https://camo.githubusercontent.com/0b419ce24614f1d15e1a87da840faeb7d25f119e2b046dd67b0f37da476ba2e9/68747470733a2f2f692e696d6775722e636f6d2f704763756850442e706e67" width="65%">
        </center>
    </div>
  </article>
