---
layout: default
---


  <article id="main_atcl" itemscope itemtype="http://schema.org/BlogPosting">
    {{content}}
    <h1 class="loa">MUSIC</h1>
    
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="music">
            <table>
                <thead>
                    <tr>
                        <th> TITLE </th>
                        <th> DATE </th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in site.categories.Music %}
                    <tr>
                        <td class="td_title"><a href="{{assets_base_url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a></td>
                        <td class="td_date" width="20%">{{post.date | date: "%b %d, %y"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </article>
